.home-section {
  grid-column: center-start / center-end;
  padding-bottom: 10rem;

  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    background-color: var(--darkRed);
    color: #fff;
    padding: 1rem 1rem;
  }

  &__best-sellers {
    margin-bottom: 10rem;
  }


  &__best-sellers,
  &__new-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
  }
}