.signin-section {
  margin: 13rem 2rem;

  .signin-title {
    text-align: center;
  }

  .form-messages {
    margin-top: 2rem;
  }

  .signin-error {
    text-align: center;
    color: red;
  }
}

.signin-form {
  grid-column: center-start / center-end;
  margin: auto;

  input:focus {
    border: .1rem solid var(--primaryColor);
  }

  input {
    width: 100%;
    border: 1px solid rgb(133, 133, 133);
    margin-bottom: 1rem;
  }

  form {
    label {
      display: block;
    }

    p {
      margin: 0;
    }
  }

  button,
  input {
    padding: .8em;
  }

  button {
    background: #BF0000;
    color: var(--mainWhite);
    width: 100%;
    border: 0;
    border-radius: .3rem;
    transition: .3s;
  }

  button:hover,
  button:focus {
    background: rgb(206, 29, 29);
    outline: 0;
    cursor: pointer;
  }
}