.checkout {
  grid-column: center-start / center-end;
  margin-bottom: 10rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__total-wrapper {
    grid-column: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 4rem;
  }

  &__total {
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: rgb(99, 98, 98);
    margin-bottom: 2rem;

    &-value {
      margin-left: 4rem;
    }
  }

  &__btn {
    width: auto;
    padding: 1.5rem 4rem;
    background-color: rgb(65, 179, 99);
    color: var(--mainWhite);
    font-size: 1.8rem;
    border: 0;
    border-radius: .6rem;
    transition: .3s;
    cursor: pointer;

    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right: 0;
      transition: all .15s;

    }

    &:hover,
    &:focus,
    &:active {
      background: rgb(87, 199, 120);

      &:after {
        right: -10px;
      }
    }

  }
}