.product {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6rem;

  @media(max-width: 765px) {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }

  @media(max-width: 465px) {
    grid-column: full-start / full-end;
    margin: 4rem 2rem;
  }

  &__image {
    grid-column: 1 / span 1;

    @media(max-width: 765px) {
      grid-row: 1;
    }
  }

  &__info {
    grid-column: 2 / span 2;

    display: grid;
    grid-template-rows: min-content, min-content, 6rem;

    @media(max-width: 765px) {
      grid-row: 2;
      grid-column: 1;

    }
  }

  &__description {
    display: grid;
    grid-template-rows: repeat(2, min-content);

    &-title {}

    &-text {
      padding: 2rem 0;
    }
  }

  &__name {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--darkRed);
  }

  &__price {
    font-size: 1.8rem;
  }

  &__btn {
    width: 18vw;
    height: 3.8rem;
    font-size: 1.5rem;
    background-color: var(--darkRed);
    color: var(--mainWhite);
    border: 0;
    border-radius: .3rem;
    transition: .3s;
    cursor: pointer;

    @media(max-width: 655px) {
      width: 35vw;
    }

    @media(max-width:455px) {
      width: 50vw;
    }
  }
}

.related {
  grid-column: center-start / center-end;
  margin: 5rem 0;


  @media(max-width: 465px) {
    grid-column: full-start / full-end;
    margin: 2rem;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
  }
}