.shop {
  grid-column: center-start / center-end;
  padding: 10rem 0;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
}

.sidebar {
  grid-column: 1 / span 1;

  .title {
    color: #333333;
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    padding: 1rem 0;
    border-bottom: .1rem solid rgb(177, 177, 177);
  }

  h3 {
    font-size: 2.1rem;
    color: #b62a2a;
    margin-bottom: 1rem;
  }

  ul li {
    list-style-type: none;
    font-size: 1.6rem;
  }

  .prices {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid rgb(177, 177, 177);
  }
}

.shop-section {
  grid-column: 2 / span 4;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}