.card {
    background-color: rgb(246, 246, 246);
    border: .1rem solid rgb(223, 223, 223);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr min-content min-content;
    grid-row-gap: .5rem;

    user-select: none;
    max-height: 43rem;

    @media (max-width: 420px) {
        grid-row-gap: 1rem;
    }

    &__img {
        width: 100%;
        min-height: 25rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;
        opacity: .8;
        transition: all .4s;
    }

    &__img:hover {
        opacity: 1 !important;
    }

    &__name {
        grid-row: 2;
        grid-column: 1 / -1;


        // text-align: center;
        padding: .4rem .2rem;
        color: rgb(39, 38, 38);

        font-size: 1.7rem;
        font-family: serif;
        font-weight: 500;

        @media (max-width: 420px) {
            font-size: 1.6rem;
            padding: .5rem;
            border: .3rem solid rgb(204, 204, 204);
        }
    }

    &__description {
        grid-row: 2;

        font-size: 1.5rem;
        padding: 2.5rem 2rem .5rem 2rem;

        p {
            align-self: start;
        }

        @media (max-width: 420px) {
            font-size: 1.4rem;
            padding: 0 1rem;
            margin-top: 1.3rem;
        }
    }



    &__btn {
        grid-column: 1 / -1;
        grid-row: 4;
        background-color: rgb(39, 38, 38);
        color: #fff;
        font-size: 1.5rem;
        padding: 1.4rem 0;
        border: none;
        border-radius: .3rem;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 420px) {
            font-size: 1.2rem !important;
            padding: 1.3rem !important;
        }
    }
}